altgraph==0.17.4
certifi==2025.4.26
charset-normalizer==3.4.2
configparser==7.2.0
dearpygui==2.0.0
idna==3.10
natsort==8.4.0
packaging==25.0
pefile==2023.2.7
pillow==11.2.1
pyasn1==0.6.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pywin32-ctypes==0.2.3
requests==2.32.3
rsa==4.9.1
setuptools==80.8.0
ttkthemes==3.2.2
urllib3==2.4.0
